<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>
        Welcome to Profile
    </h1>
   <p>
  Name : <%= name %>
  <br>
    Location: <%= profile.location %>
    <br>
    Time: <%= profile.time %>
   </p>
</body>
</html>